/* your style begins here */
html, body {
	background-color: none;
}

.json-container{
	font-size: 20px;
	color: dimgray;
	padding: 30px;
	display: block;
	margin: 30px; 
	text-align: center;
	margin: 0 auto;


}

#btn{
	background-color: gold;
	width: 20vw;
	padding: 20px;
	border-radius: 15px;
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;

}

#btn:hover{
	background-color: black;
	color: gold;
	cursor: pointer;
}